<h1>Meine Aufgaben</h1>
<%= link_to "Neuer Eintrag", new_item_path, class: "btn btn-default"%>
<hr>
<% @items.each do |item| %>
  <h3><%= item.title %></h3>
  <p><%= item.description %></p>
<% end %>
